<!doctype html>
<html>
 <%= partial 'partials/head' %>

  <body class="<%= page_classes %>">
  <%= partial 'partials/header' %>
    <%= yield %>
 <%= partial 'partials/footer' %>
     <%= javascript_include_tag :post %>
  </body>
</html>
